<div class="first" id="thing" style="display: none;">
    <div id="prec-fog">
        <p><b>Fog:</b> Whether in the form of a low-lying cloud or a mist rising from the ground, fog obscures all
            sight, including darkvision, beyond 5 feet. Creatures 5 feet away have concealment (attacks by or against
            them have a 20% miss chance).</p>
    </div>
    <div id="prec-hail">
        <p><b>Hail:</b> The sound of falling hail imposes a -4 penalty on Listen checks. Sometimes hail can become large
            enough to deal 1 point of lethal damage (per storm) to anything in the open.</p>
        <p>A day of hail leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            hail-covered square.</p>
    </div>
    <div id="prec-heavy_snow">
        <p><b>Heavy Snow:</b> Heavy snow reduces visibility by half, imposing a -4 penalty on Spot and Search checks.
            All sight, including darkvision, is obscured beyond 5 feet. Creatures 5 feet away have concealment (attacks
            by or against them have a 20% miss chance). It also imposes a -4 penalty on Listen checks and ranged weapon
            attacks.</p>
        <p>Heavy snow has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
        <p>A day of heavy snowfall leaves 1d4 feet of snow on the ground. It costs 4 squares of movement to enter a
            square covered with heavy snow. Heavy snow accompanied by strong or severe winds may result in snowdrifts
            1d4 x 5 feet deep, especially in and around objects big enough to deflect the wind -- a cabin or a large
            tent, for instance.</p>
    </div>
    <div id="prec-rain">
        <p><b>Rain:</b> Rain reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also
            imposes a -4 penalty on Listen checks and ranged weapon attacks.</p>
        <p>Rain automatically extinguishes candles, torches, and similar unprotected flames. It causes protected flames,
            such as those of lanterns, to dance wildly and has a 50% chance to extinguish these lights.</p>
    </div>
    <div id="prec-sleet">
        <p><b>Sleet:</b> Essentially frozen rain, sleet reduces visibility by half, imposing a -4 penalty on Spot and
            Search checks. It also imposes a -4 penalty on Listen checks and ranged weapon attacks.</p>
        <p>Sleet automatically extinguishes candles, torches, and similar unprotected flames. It causes protected
            flames, such as those of lanterns, to dance wildly and has a 75% chance to extinguish these lights.</p>
        <p>A day of sleet leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            sleet-covered square.</p>
    </div>
    <div id="prec-snow">
        <p><b>Snow:</b> Snow reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also
            imposes a -4 penalty on Listen checks and ranged weapon attacks.</p>
        <p>A day of snowfall leaves 1d6 inches of snow on the ground. It costs 2 squares of movement to enter a
            snow-covered square.</p>
    </div>
    <div id="temp-cold">
        <p><b>Cold:</b> An unprotected character in cold weather (below 40&deg;F) must make a Fortitude save each hour
            (DC 15, + 1 per previous check) or take 1d6 points of nonlethal damage.</p>
        <p>A character who has the Survival skill may receive a bonus on her saving throw and may be able to apply this
            bonus to other characters as well.</p>
        <p>A character who takes any nonlethal damage from cold or exposure is beset by frostbite or hypothermia (treat
            her as fatigued). These penalties end when the character recovers the nonlethal damage she took from the
            cold and exposure.</p>
        <p>Nonlethal damage from cold or exposure cannot be recovered until the character gets out of the cold and warms
            up again. Once a character is rendered unconscious through the accumulation of nonlethal damage, the cold
            and exposure begins to deal lethal damage at the same rate.</p>
    </div>
    <div id="temp-extreme_cold">
        <p><b>Extreme Cold:</b> Extreme cold (below -20&deg;F) deals 1d6 points of lethal damage per minute (no save).
            In addition, a character must make a Fortitude save (DC 15, +1 per previous check) or take 1d4 points of
            nonlethal damage. Those wearing metal armor or coming into contact with very cold metal are affected as if
            by a <i>chill metal</i> spell.</p>
        <p>A character who has the Survival skill may receive a bonus on her saving throw and may be able to apply this
            bonus to other characters as well. Characters wearing winter clothing only need check once per hour for cold
            and exposure damage.</p>
        <p>A character who takes any nonlethal damage from cold or exposure is beset by frostbite or hypothermia (treat
            her as fatigued). These penalties end when the character recovers the nonlethal damage she took from the
            cold and exposure.</p>
        <p>Nonlethal damage from cold or exposure cannot be recovered until the character gets out of the cold and warms
            up again. Once a character is rendered unconscious through the accumulation of nonlethal damage, the cold
            and exposure begins to deal lethal damage at the same rate.</p>
    </div>
    <div id="temp-extreme_heat">
        <p><b>Extreme Heat:</b> Extreme heat (air temperature over 140&deg;F, fire, boiling water, lava) deals lethal
            damage. Breathing air in these temperatures deals 1d6 points of damage per minute (no save). In addition, a
            character must make a Fortitude save every 5 minutes (DC 15, + 1 per previous check) or take 1d4 points of
            nonlethal damage. In addition, those wearing metal armor or coming into contact with very hot metal are
            affected as if by a <i>heat metal</i> spell.</p>
        <p>Characters wearing heavy clothing or armor of any sort take a -4 penalty on their saves. A character with the
            Survival skill may receive a bonus on her saving throw and may be able to apply this bonus to other
            characters as well.</p>
        <p>A character who takes any nonlethal damage from heat exposure now suffers from heatstroke and is fatigued.
            These penalties end when the character recovers the nonlethal damage she took from the heat.</p>
        <p>Nonlethal damage from heat exposure cannot be recovered until the character gets cooled off (reaches shade,
            survives until nightfall, gets doused in water, is targeted by <i>endure elements</i>, and so forth). Once
            rendered unconscious through the accumulation of nonlethal damage, the character begins to take lethal
            damage at the same rate.</p>
    </div>
    <div id="temp-severe_cold">
        <p><b>Severe Cold:</b> In conditions of severe cold or exposure (below 0&deg;F), an unprotected character must
            make a Fortitude save once every 10 minutes (DC 15, +1 per previous check), taking 1d6 points of nonlethal
            damage on each failed save.</p>
        <p>A character who has the Survival skill may receive a bonus on her saving throw and may be able to apply this
            bonus to other characters as well. Characters wearing winter clothing only need check once per hour for cold
            and exposure damage.</p>
        <p>A character who takes any nonlethal damage from cold or exposure is beset by frostbite or hypothermia (treat
            her as fatigued). These penalties end when the character recovers the nonlethal damage she took from the
            cold and exposure.</p>
        <p>Nonlethal damage from cold or exposure cannot be recovered until the character gets out of the cold and warms
            up again. Once a character is rendered unconscious through the accumulation of nonlethal damage, the cold
            and exposure begins to deal lethal damage at the same rate.</p>
    </div>
    <div id="temp-severe_heat">
        <p><b>Severe Heat:</b> In severe heat (above 110&deg;F), a character must make a Fortitude save once every 10
            minutes (DC 15, + 1 for each previous check) or take 1d4 points of nonlethal damage.</p>
        <p>Characters wearing heavy clothing or armor of any sort take a -4 penalty on their saves. A character with the
            Survival skill may receive a bonus on her saving throw and may be able to apply this bonus to other
            characters as well.</p>
        <p>A character who takes any nonlethal damage from heat exposure now suffers from heatstroke and is fatigued.
            These penalties end when the character recovers the nonlethal damage she took from the heat.</p>
        <p>Nonlethal damage from heat exposure cannot be recovered until the character gets cooled off (reaches shade,
            survives until nightfall, gets doused in water, is targeted by <i>endure elements</i>, and so forth). Once
            rendered unconscious through the accumulation of nonlethal damage, the character begins to take lethal
            damage at the same rate.</p>
    </div>
    <div id="temp-very_hot">
        <p><b>Very Hot:</b> A character in very hot conditions (above 90&deg;F) must make a Fortitude saving throw each
            hour (DC 15, + 1 for each previous check) or take 1d4 points of nonlethal damage.</p>
        <p>Characters wearing heavy clothing or armor of any sort take a -4 penalty on their saves. A character with the
            Survival skill may receive a bonus on her saving throw and may be able to apply this bonus to other
            characters as well.</p>
        <p>A character who takes any nonlethal damage from heat exposure now suffers from heatstroke and is fatigued.
            These penalties end when the character recovers the nonlethal damage she took from the heat.</p>
        <p>Nonlethal damage from heat exposure cannot be recovered until the character gets cooled off (reaches shade,
            survives until nightfall, gets doused in water, is targeted by <i>endure elements</i>, and so forth). Once
            rendered unconscious through the accumulation of nonlethal damage, the character begins to take lethal
            damage at the same rate.</p>
    </div>
    <div id="wind-hurricane">
        <p><b>Hurricane:</b> Listen checks are impossible, as all that characters can hear is the roaring of the wind.
            Ranged weapon attacks are impossible, except for those using siege weapons, which suffer a -8 penalty on
            attack rolls.</p>
        <p>All flames are automatically extinguished.</p>
        <p>Hurricane-force winds often fell trees. Creatures must succeed on a DC 20 Fort save or be blown away (Medium
            or smaller creatures; knocked prone and rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10
            feet), knocked down (Large; prone), or checked (Huge; unable to move forward against the force of the
            wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Large or smaller creatures), blown back 1d6 x 10 feet (Huge), or blown back 1d6 x 5
            feet (Gargantuan).</p>
    </div>
    <div id="wind-light">
        <p><b>Light Wind:</b> A gentle breeze, having little or no game effect.</p>
    </div>
    <div id="wind-moderate">
        <p><b>Moderate Wind:</b> A steady wind with a 50% chance of extinguishing candles, torches, and similar
            unprotected flames.</p>
    </div>
    <div id="wind-severe">
        <p><b>Severe Wind:</b> Winds of this magnitude impose a -4 penalty on Listen checks and ranged weapon attacks.
            Severe wind automatically extinguishes candles, torches, and similar unprotected flames. It causes protected
            flames, such as those of lanterns, to dance wildly and has a 50% chance to extinguish these lights.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
    </div>
    <div id="wind-strong">
        <p><b>Strong Wind:</b> Strong gusts of wind that impose a -2 penalty on Listen checks and ranged weapon attacks.
            Such gusts automatically extinguish candles, torches, and similar unprotected flames.</p>
        <p>Tiny or smaller land-bound creatures must succeed on a DC 10 Fort save every round or be knocked prone. Small
            or smaller airborne creatures are instead blown back 1d6 x 10 feet.</p>
    </div>
    <div id="wind-tornado">
        <p><b>Tornado (CR 10):</b> While a tornado's rotational speed can be as great as 300 mph, the funnel itself
            moves forward at an average of 30 mph (roughly 250 feet per round).</p>
        <p>Listen checks are impossible, as all that characters can hear is the roaring of the wind. Ranged weapon
            attacks are impossible, even those using siege weapons.</p>
        <p>All flames are automatically extinguished.</p>
        <p>A tornado uproots trees, destroys buildings, and causes other similar forms of major destruction. Creatures
            must succeed on a DC 30 Fort save or be sucked toward the tornado (Large or smaller creatures; knocked prone
            and rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Huge; prone), or
            checked (Gargantuan or Colossal; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead sucked 2d6 x 10 feet toward the tornado and dealt 2d6 points of nonlethal
            damage due to battering and buffeting (Huge or smaller creatures), sucked 1d6 x 10 feet (Gargantuan), or
            sucked 1d6 x 5 feet (Colossal).</p>
        <p>Those who come in contact with the actual funnel cloud are picked up and whirled around for 1d10 rounds,
            taking 6d6 points of damage per round, before being violently expelled (falling damage may apply).</p>
    </div>
    <div id="wind-windstorm">
        <p><b>Windstorm:</b> Powerful enough to bring down branches if not whole trees, windstorms impose a -8 penalty
            on Listen checks due to the howling of the wind. Ranged weapon attacks are impossible, except for those
            using siege weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Windstorms automatically extinguish candles, torches, and similar unprotected flames. They have a 75% chance
            to extinguish protected flames, such as those of lanterns.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
    </div>
    <div id="desc-blizzard">
        <p><b>Blizzard:</b> The combination of high winds, heavy snow (typically 1d3 feet), and bitter cold make
            blizzards deadly for all who are unprepared for them.</p>
        <p>Blizzards reduce visibility to zero, making Spot, Search, and Listen checks and all ranged weapon attacks
            impossible. All sight, including darkvision, is obscured beyond 5 feet. Creatures 5 feet away have
            concealment (attacks by or against them have a 20% miss chance).</p>
        <p>Blizzards automatically extinguish candles, torches, and similar unprotected flames. They have a 75% chance
            to extinguish protected flames, such as those of lanterns.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
        <p>In addition, blizzards leave 1d3 feet of heavy snow on the ground afterward. It costs 4 squares of movement
            to enter a square covered with heavy snow. A blizzard may result in snowdrifts 1d4 x 5 feet deep, especially
            in and around objects big enough to deflect the wind -- a cabin or a large tent, for instance.</p>
    </div>
    <div id="desc-duststorm">
        <p><b>Duststorm:</b> These desert storms blow fine grains of sand. The combined effects of dust and wind reduce
            visibility by three quarters, imposing a -8 penalty on Spot, Search, and Listen checks. Duststorms make
            ranged weapon attacks impossible, except for those using siege weapons, which suffer a -4 penalty on attack
            rolls.</p>
        <p>Duststorms automatically extinguish candles, torches, and similar unprotected flames. They cause protected
            flames, such as those of lanterns, to dance wildly and have a 50% chance to extinguish these lights.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
        <p>Duststorms leave behind a deposit of 1d6 inches of sand.</p>
    </div>
    <div id="desc-greater_duststorm">
        <p><b>Greater Duststorm:</b> Greater duststorms drive fine grains of sand in windstorm-force winds. The combined
            effects of dust and wind reduce visibility to zero, making Spot, Search, and Listen checks and all ranged
            weapon attacks impossible.</p>
        <p>Greater duststorms automatically extinguish candles, torches, and similar unprotected flames. They have a 75%
            chance to extinguish protected flames, such as those of lanterns.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
        <p>In addition, greater duststorms deal 1d3 points of nonlethal damage each round to anyone caught out in the
            open without shelter and also pose a choking hazard. A character with a scarf or similar protection across
            her mouth and nose does not begin to choke until after a number of rounds equal to 10 x her Constitution
            score.</p>
        <p>Greater duststorms leave 2d3-1 feet of fine sand in their wake.</p>
    </div>
    <div id="desc-hurricane">
        <p><b>Hurricane:</b> The combined effects of torrential precipitation and high wind reduce visibility to zero,
            making Spot, Search, and Listen checks and all ranged weapon attacks impossible.</p>
        <p>All flames are automatically extinguished.</p>
        <p>Hurricane-force winds often fell trees. Creatures must succeed on a DC 20 Fort save or be blown away (Medium
            or smaller creatures; knocked prone and rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10
            feet), knocked down (Large; prone), or checked (Huge; unable to move forward against the force of the
            wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Large or smaller creatures), blown back 1d6 x 10 feet (Huge), or blown back 1d6 x 5
            feet (Gargantuan).</p>
        <p>In addition, hurricanes are accompanied by floods. Most adventuring activity is impossible under such
            conditions.</p>
    </div>
    <div id="desc-severe_thunderstorm">
        <p><b>Severe Thunderstorm:</b> The combined effects of torrential precipitation and high wind reduce visibility
            to zero, making Spot, Search, and Listen checks and all ranged weapon attacks impossible.</p>
        <p>Unprotected flames are automatically extinguished, and protected flames have a 75% chance of being
            doused.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
        <p>In addition, thunderstorms are accompanied by lightning that can pose a hazard to characters without proper
            shelter (especially those in metal armor). As a rule of thumb, assume one bolt per minute for a 1 hour
            period at the center of the storm. Each bolt causes electricity damage equal to 1d10 eight-sided dice.</p>
    </div>
    <div id="desc-snowstorm">
        <p><b>Snowstorm:</b> The combined effects of precipitation and wind reduce visibility by three quarters,
            imposing a -8 penalty on Spot, Search, and Listen checks. Snowstorms make ranged weapon attacks impossible,
            except for those using siege weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Snowstorms automatically extinguish candles, torches, and similar unprotected flames. They cause protected
            flames, such as those of lanterns, to dance wildly and have a 50% chance to extinguish these lights.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
        <p>In addition, snowstorms leave 1d6 inches of snow on the ground afterward. It costs 2 squares of movement to
            enter a snow-covered square.</p>
    </div>
    <div id="desc-thunderstorm">
        <p><b>Thunderstorm:</b> The combined effects of precipitation and wind reduce visibility by three quarters,
            imposing a -8 penalty on Spot, Search, and Listen checks. Thunderstorms make ranged weapon attacks
            impossible, except for those using siege weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Thunderstorms automatically extinguish candles, torches, and similar unprotected flames. They cause protected
            flames, such as those of lanterns, to dance wildly and have a 50% chance to extinguish these lights.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
        <p>In addition, thunderstorms are accompanied by lightning that can pose a hazard to characters without proper
            shelter (especially those in metal armor). As a rule of thumb, assume one bolt per minute for a 1 hour
            period at the center of the storm. Each bolt causes electricity damage equal to 1d10 eight-sided dice.</p>
    </div>
    <div id="desc-aberrant_sky">
        <p><b>Aberrant Sky:</b> An aberrant sky appears twisted and wrong, filled with an unearthly shade of light and
            clouds of impossible and monstrous shapes. Creatures which gaze upon an aberrant sky must succeed on a DC 18
            Will save or be driven insane, suffering the effects of <i>confusion</i> for 1d6 hours. Roll on the
            following table at the beginning of each affected creature's turn each round to see what the creature does
            in that round.</p>
        <table>
            <tr>
                <th>d%</th>
                <th>Behavior</th>
            </tr>
            <tr>
                <td>01-10</td>
                <td>Do nothing but babble incoherently</td>
            </tr>
            <tr>
                <td>11-20</td>
                <td>Act normally</td>
            </tr>
            <tr>
                <td>21-50</td>
                <td>Do nothing but babble incoherently</td>
            </tr>
            <tr>
                <td>51-70</td>
                <td>Flee in a random direction</td>
            </tr>
            <tr>
                <td>71-00</td>
                <td>Attack the nearest creature</td>
            </tr>
        </table>
    </div>
    <div id="desc-acid_rain">
        <p><b>Acid Rain:</b> Acid rain deals 1d6 points of acid damage (DC 15 Reflex save negates) each minute to anyone
            caught out in the open without shelter.</p>
        <p>Rain reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>Rain automatically extinguishes candles, torches, and similar unprotected flames. It causes protected flames,
            such as those of lanterns, to dance wildly and has a 50% chance to extinguish these lights.</p>
    </div>
    <div id="desc-animus_blizzard">
        <p><b>Animus Blizzard:</b> The combination of high winds, heavy snow (typically 1d3 feet), and bitter cold make
            blizzards deadly for all who are unprepared for them. Further, animus blizzards are infused with negative
            energy, and any creature which perishes in one becomes a wight 1d4 rounds later.</p>
        <p>Blizzards reduce visibility to zero, making Spot, Search, and Listen checks and all ranged weapon attacks
            impossible. All sight, including darkvision, is obscured beyond 5 feet. Creatures 5 feet away have
            concealment (attacks by or against them have a 20% miss chance).</p>
        <p>Blizzards automatically extinguish candles, torches, and similar unprotected flames. They have a 75% chance
            to extinguish protected flames, such as those of lanterns.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
        <p>In addition, blizzards leave 1d3 feet of heavy snow on the ground afterward. It costs 4 squares of movement
            to enter a square covered with heavy snow. A blizzard may result in snowdrifts 1d4 x 5 feet deep, especially
            in and around objects big enough to deflect the wind -- a cabin or a large tent, for instance.</p>
    </div>
    <div id="desc-arcane_tempest">
        <p><b>Arcane Tempest:</b> An arcane tempest appears to be a normal thunderstorm, but possesses a powerful
            magical aura. All spells and spell-like abilities used within the tempest are empowered as if affected by
            the Empower Spell feat, although a spell so affected doesn't require a higher-level spell slot or additional
            casting time. Spells and spell-like abilities that are already empowered are unaffected.</p>
        <p>The combined effects of precipitation and wind reduce visibility by three quarters, imposing a -8 penalty on
            Spot, Search, and Listen checks. Arcane tempests make ranged weapon attacks impossible, except for those
            using siege weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Arcane tempests automatically extinguish candles, torches, and similar unprotected flames. They cause
            protected flames, such as those of lanterns, to dance wildly and have a 50% chance to extinguish these
            lights.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
        <p>In addition, thunderstorms are accompanied by lightning that can pose a hazard to characters without proper
            shelter (especially those in metal armor). As a rule of thumb, assume one bolt per minute for a 1 hour
            period at the center of the storm. Each bolt causes electricity damage equal to 1d10 eight-sided dice.</p>
    </div>
    <div id="desc-blacksleet">
        <p><b>Blacksleet:</b> Blacksleet is frozen rain imbued with negative energy. Creatures caught out in the open
            without shelter must succeed on a DC 15 Fort save once every hour or gain 1 negative level.</p>
        <p>Each negative level gives a creature a -1 penalty on attack rolls, saving throws, skill checks, ability
            checks, and effective level (for determining the power, duration, DC, and other details of spells or special
            abilities). Additionally, a spellcaster loses one spell or spell slot from his or her highest available
            level. Negative levels stack. If the subject has at least as many negative levels as HD, it dies.</p>
        <p>Twenty-four hours after gaining a negative level, the subject must make a Fort saving throw against the same
            DC for each negative level. If the save succeeds, that negative level is removed. If it fails, the negative
            level also goes away, but one of the subject's character levels is permanently drained.</p>
        <p>Sleet reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>Sleet automatically extinguishes candles, torches, and similar unprotected flames. It causes protected
            flames, such as those of lanterns, to dance wildly and has a 75% chance to extinguish these lights.</p>
        <p>A day of sleet leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            sleet-covered square.</p>
    </div>
    <div id="desc-celestial_clarity">
        <p><b>Celestial Clarity:</b> The sky is a perfect azure blue, colors seem more vibrant, and details appear
            sharper. Celestial clarity grants a +4 bonus to Spot, Search, Listen, and Sense Motive checks. It also
            negates any fear or confusion effects.</p>
    </div>
    <div id="desc-clockwork_clouds">
        <p><b>Clockwork Clouds:</b> Clouds shaped like gears spin slowly overhead, sometimes interlocking with other
            clouds to form complex clockworks.</p>
    </div>
    <div id="desc-crimson_fog">
        <p><b>Crimson Fog:</b> These dread fogs drift from distant and bloody battlefields, bringing with them terrible
            visions of death and madness. Fog obscures all sight, including darkvision, beyond 5 feet. Creatures 5 feet
            away have concealment (attacks by or against them have a 20% miss chance). In addition, creatures within the
            fog must succeed on a DC 15 Will save once every minute or act randomly.</p>
        <table>
            <tr>
                <th>d%</th>
                <th>Behavior</th>
            </tr>
            <tr>
                <td>01-50</td>
                <td>Act normally</td>
            </tr>
            <tr>
                <td>51-70</td>
                <td>Flee in a random direction</td>
            </tr>
            <tr>
                <td>71-00</td>
                <td>Attack the nearest creature</td>
            </tr>
        </table>
    </div>
    <div id="desc-dire_hail">
        <p><b>Dire Hail:</b> Dire hail is at least an inch in size, and covered with sharp spikes of ice. It deals 1d6
            points of damage (DC 15 Reflex save negates) each minute to anyone caught out in the open without shelter.
            The sound of falling hail imposes a -4 penalty on Listen checks.</p>
        <p>A day of hail leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            hail-covered square.</p>
    </div>
    <div id="desc-draconic_clouds">
        <p><b>Draconic Clouds:</b> Clouds shaped like dragons and winged wyrms twist through the sky, sometimes
            colliding and tearing through each other.</p>
    </div>
    <div id="desc-dragons_breath">
        <p><b>Dragon's Breath:</b> Gusts of hot air blow out of the east, accompanied by wisps of flame. Dragon's breath
            has a 50% chance of igniting candles, torches, tinder, loose paper, and similar flammable objects.</p>
    </div>
    <div id="desc-empyrean_sky">
        <p><b>Empyrean Sky:</b> Golden or rose colored light fills the sky, and heroes and heroic deeds are granted
            divine favor. Good characters beneath an empyrean sky gain a +2 morale bonus to attack rolls and a +4 morale
            bonus to skill checks, and neutral characters gain a +1 morale bonus to attack rolls and a +2 morale bonus
            to skill checks.</p>
    </div>
    <div id="desc-ethereal_fog">
        <p><b>Ethereal Fog:</b> Ethereal fog is a shimmering mist which manifests suddenly and out of thin air. It
            obscures all sight, including darkvision, beyond 5 feet. Creatures 5 feet away have concealment (attacks by
            or against them have a 20% miss chance). In addition, creatures taking a movement action within the fog must
            succeed on a DC 15 Will save or be teleported to a different random location within the fog.</p>
    </div>
    <div id="desc-expeditious_tailwind">
        <p><b>Expeditious Tailwind:</b> An expeditious tailwind is a fey zephyr which follows creatures, pushing them
            along more swiftly. Creatures gain an enhancement bonus of 30 feet to their walking or flying speed.</p>
        <p>Expeditious wind has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
    </div>
    <div id="desc-firestorm">
        <p><b>Firestorm:</b> A firestorm manifests as a swirling cloud of smoke which suddenly explodes with flashes of
            fire and sheets of falling flame. Firestorms deal 1d6 points of fire damage (DC 15 Reflex save negates) each
            round to anyone caught out in the open without shelter, but rarely last more than a few minutes.</p>
        <p>The combined effects of smoke and wind reduce visibility by three quarters, imposing a -8 penalty on Spot,
            Search, and Listen checks. Firestorms make ranged weapon attacks impossible, except for those using siege
            weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Creatures must succeed on a DC 15 Fort save or be blown away (Tiny or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Small; prone), or
            checked (Medium; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Small or smaller creatures), blown back 1d6 x 10 feet (Medium), or blown back 1d6 x
            5 feet (Large).</p>
        <p>Firestorms leave behind a deposit of 1d6 inches of fine ash.</p>
    </div>
    <div id="desc-gatestorm">
        <p><b>Gatestorm:</b> Gatestorms can manifest suddenly and out of thin air. They appear at first as clouds of
            twinkling stars, but within seconds transform into maelstroms of powerful winds and dimensional gates which
            flash open randomly. Creatures of Medium size or smaller and airborne creatures of Gargantuan size or
            smaller must succeed on a DC 15 Fort or Will save (player's choice) every minute or be blown through a gate
            to a random plane of existence or alternate dimension. A gatestorm typically lasts for only 1d6 minutes
            before fading as suddenly as it appeared.</p>
        <p>The wind of a gatestorm is powerful enough to bring down branches if not whole trees, and impose a -8 penalty
            on Listen checks. Ranged weapon attacks are impossible, except for those using siege weapons, which suffer a
            -4 penalty on attack rolls.</p>
        <p>Gatestorms automatically extinguish candles, torches, and similar unprotected flames. They have a 75% chance
            to extinguish protected flames, such as those of lanterns.</p>
        <p>Large or Huge creatures must succeed on a DC 18 Fort save or be checked (unable to move forward against the
            force of the wind).</p>
    </div>
    <div id="desc-ghoststorm">
        <p><b>Ghoststorm:</b> A chill windstorm brings a cacophany of noises, including the lost voices of the dead. An
            individual of at least third level (3 HD) who spends ten minutes within the storm shouting the name of a
            deceased creature might attract that spirit's attention. They may then convey one message or ask one
            question before the voice is carried away. However, answers are usually brief, cryptic, or fragmentary.</p>
        <p>Ghoststorms impose a -8 penalty on Listen checks due to the howling of the wind. Ranged weapon attacks are
            impossible, except for those using siege weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>Ghoststorms automatically extinguish candles, torches, and similar unprotected flames. They have a 75% chance
            to extinguish protected flames, such as those of lanterns.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
    </div>
    <div id="desc-hallucinatory_storm">
        <p><b>Hallucinatory Storm:</b> Dark clouds shot through with lightning rage overhead, and rumbling thunder and
            howling winds fill the air. The noise imposes a -4 penalty on Listen checks, but the storm has no other
            effect.</p>
    </div>
    <div id="desc-immuring_sleet">
        <p><b>Immuring Sleet:</b> Immuring sleet falls as rain, but freezes into masses of ice the instant it touches an
            object or creature. Creatures caught out in the open without shelter must attempt a DC 15 Fort save once
            every hour.</p>
        <p>A creature which has failed one saving throw is covered with masses of ice, and is slowed. A slowed creature
            can take only a single move action or standard action each turn, but not both (nor may it take full-round
            actions). It moves at half its normal speed (round down to the next 5-foot increment). Additionally, it
            takes a -1 penalty on attack rolls, AC, and Reflex saves.</p>
        <p>A creature which fails a second saving throw becomes frozen to the ground, and is immobilized. It cannot
            move, and can take only a single standard action each turn. Additionally, it takes a -2 penalty on attack
            rolls, AC, and Reflex saves.</p>
        <p>A creature which fails a third saving throw becomes trapped within solid ice, and is paralyzed. A paralyzed
            creature is unable to move or act. It has effective Dexterity and Strength scores of 0 and is helpless, but
            can take purely mental actions.</p>
        <p>A creature which fails a fourth saving throw becomes completely entombed within a large mass of solid ice,
            and dies.</p>
        <p>Sleet reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>Sleet automatically extinguishes candles, torches, and similar unprotected flames. It causes protected
            flames, such as those of lanterns, to dance wildly and has a 75% chance to extinguish these lights.</p>
        <p>A day of immuring sleet leaves 1d6 inches of solid ice on the ground. Creatures walking on ice must spend 2
            squares of movement to enter a square covered by ice, and the DC for Balance and Tumble checks increases by
            +5.</p>
    </div>
    <div id="desc-incendiary_clouds">
        <p><b>Incendiary Clouds:</b> Clouds of roiling smoke shot through with hot embers drift overhead, casting a
            fiery glow. Airborne creatures flying into an incendiary cloud cause it to ignite, dealing 4d6 points of
            fire damage (DC 18 Reflex save negates).</p>
    </div>
    <div id="desc-incorporeal_wind">
        <p><b>Incorporeal Wind:</b> Incorporeal wind passes through physical objects and barriers, such as clothing,
            armor, walls, and solid earth and stone. It negates any benefit of winter clothing against cold and exposure
            effects, but also negates any penalty for heavy clothing or armor against heat. Incorporeal wind is blocked
            only by <i>mage armor</i>, <i>wall of force</i>, and similar force effects.</p>
    </div>
    <div id="desc-leaden_snow">
        <p><b>Leaden Snow:</b> Leaden snow appears to be normal snow, but is far heavier. Objects beneath leaden snow
            take 1d6 points of damage per inch of snowfall. Creatures beneath leaden snow take 1d6 points of nonlethal
            damage per minute. If a creature falls unconscious beneath leaden show, it takes 1d6 points of lethal damage
            (DC 15 Constitution check negates) each minute thereafter until freed or dead.</p>
        <p>Snow reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks. Leaden snow makes ranged weapon attacks impossible, except for those using siege
            weapons, which suffer a -4 penalty on attack rolls.</p>
        <p>A day of snowfall leaves 1d6 inches of snow on the ground. It costs 2 squares of movement to enter a
            snow-covered square.</p>
    </div>
    <div id="desc-leaden_snowstorm">
        <p><b>Leaden Snowstorm:</b> Leaden snow appears to be normal snow, but is far heavier. Objects beneath leaden
            snow take 1d6 points of damage per inch of snowfall. Creatures beneath leaden snow take 1d6 points of
            nonlethal damage per minute. If a creature falls unconscious beneath leaden show, it takes 1d6 points of
            lethal damage (DC 15 Constitution check negates) each minute thereafter until freed or dead.</p>
        <p>The combined effects of precipitation and wind reduce visibility by three quarters, imposing a -8 penalty on
            Spot, Search, and Listen checks. Leaden snowstorms make ranged weapon attacks impossible, even those using
            siege weapons.</p>
        <p>Snowstorms automatically extinguish candles, torches, and similar unprotected flames. They cause protected
            flames, such as those of lanterns, to dance wildly and have a 50% chance to extinguish these lights.</p>
        <p>Creatures must succeed on a DC 18 Fort save or be blown away (Small or smaller creatures; knocked prone and
            rolled 1d4 x 10 feet, taking 1d4 points of nonlethal damage per 10 feet), knocked down (Medium; prone), or
            checked (Large or Huge; unable to move forward against the force of the wind).</p>
        <p>Airborne creatures are instead blown back 2d6 x 10 feet and dealt 2d6 points of nonlethal damage due to
            battering and buffeting (Medium or smaller creatures), blown back 1d6 x 10 feet (Large), or blown back 1d6 x
            5 feet (Huge or Gargantuan).</p>
        <p>In addition, snowstorms leave 1d6 inches of snow on the ground afterward. It costs 2 squares of movement to
            enter a snow-covered square.</p>
    </div>
    <div id="desc-lethe_snow">
        <p><b>Lethe Snow:</b> Lethe snow is imbued with enchantment magic, and is often accompanied by a faint tinkling
            sound as it falls. Creatures caught out in the open without shelter must succeed on a DC 15 Fort save once
            every hour or fall asleep for 1 hour.</p>
        <p>Sleeping creatures are helpless. Slapping or wounding awakens an affected creature, but normal noise or cold
            damage does not. Awakening a creature is a standard action (an application of the aid another action).</p>
        <p>Snow reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>A day of snowfall leaves 1d6 inches of snow on the ground. It costs 2 squares of movement to enter a
            snow-covered square.</p>
    </div>
    <div id="desc-levitant_ice">
        <p><b>Levitant Ice:</b> Levitant ice occurs when strange alchemical essences become mixed into cold clouds.
            Unsecured creatures and objects lose weight as ice accumulates upon them, and after one minute begin
            floating upwards at the rate of twenty feet per round. The effect ends gradually, as the levitant ice melts.
        </p>
        <p>Sleet reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>Sleet automatically extinguishes candles, torches, and similar unprotected flames. It causes protected
            flames, such as those of lanterns, to dance wildly and has a 75% chance to extinguish these lights.</p>
    </div>
    <div id="desc-luminous_clouds">
        <p><b>Luminous Clouds:</b> Luminous clouds cast light as bright as full daylight, even at night. Creatures which
            suffer penalties or are damaged or destroyed by daylight are similarly affected by luminous cloudlight.
            Magical darkness of any level counters luminous cloudlight.</p>
    </div>
    <div id="desc-phantom_snow">
        <p><b>Phantom Snow:</b> Phantom snow was named by rogues and thieves, who take particular advantage of it.
            Anyone moving upon it does so silently (+4 bonus to Move Silently checks), and leaves neither track nor
            trace of their passage.</p>
        <p>Snow reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>A day of snowfall leaves 1d6 inches of snow on the ground. It costs 2 squares of movement to enter a
            snow-covered square.</p>
    </div>
    <div id="desc-prismatic_rain">
        <p><b>Prismatic Rain:</b> Prismatic rain falls in brilliant, rainbow-hued drops. Prismatic rain reduces
            visibility by three quarters, imposing a -8 penalty on Spot and Search checks. It also imposes a -4 penalty
            on Listen checks and ranged weapon attacks.</p>
        <p>Rain automatically extinguishes candles, torches, and similar unprotected flames. It causes protected flames,
            such as those of lanterns, to dance wildly and has a 50% chance to extinguish these lights.</p>
    </div>
    <div id="desc-psychic_calm">
        <p><b>Psychic Calm:</b> A supernatural calm settles over the land, stopping raging creatures from fighting and
            joyous ones from reveling. Creatures cannot take violent actions (although they can defend themselves) or do
            anything destructive. Psychic calm negates any morale bonuses granted by spells such as <i>bless</i>, <i>good
                hope</i>, and <i>rage</i>, as well as a bard's ability to inspire courage or a barbarian's rage ability.
            It also negates any fear or confusion effects.</p>
    </div>
    <div id="desc-reverse_rain">
        <p><b>Reverse Rain:</b> Reverse rain rises in sheets from pools, lakes, streams, rivers, and other open water
            into the sky.</p>
        <p>Rain reduces visibility by half, imposing a -4 penalty on Spot and Search checks. It also imposes a -4
            penalty on Listen checks and ranged weapon attacks.</p>
        <p>Rain automatically extinguishes candles, torches, and similar unprotected flames. It causes protected flames,
            such as those of lanterns, to dance wildly and has a 50% chance to extinguish these lights.</p>
    </div>
    <div id="desc-rogue_zephyr">
        <p><b>Rogue Zephyr:</b> Rogue zephyrs are gentle but magical breezes which undo simple (those of DC 20 or less)
            knots, locks, bolts, manacles, shackles, and similar impediments.</p>
        <p>A rogue zephyr has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
    </div>
    <div id="desc-skyquake">
        <p><b>Skyquake:</b> Violent shockwaves suddenly tear through the sky, causing it to crack and clouds to be torn
            apart and scattered. Creatures must make a DC 15 Fort save or be deafened for 1 hour from the thunderous
            noise. Airborne creatures must make an additional DC 15 Fort save or take 2d6 points of nonlethal damage due
            to battering and buffeting.</p>
    </div>
    <div id="desc-solid_fog">
        <p><b>Solid Fog:</b> Fog obscures all sight, including darkvision, beyond 5 feet. Creatures 5 feet away have
            concealment (attacks by or against them have a 20% miss chance). In addition, solid fog is so thick that any
            creature attempting to move through it progresses at a speed of 5 feet, regardless of its normal speed. A
            creature can't take a 5-foot step while in solid fog.</p>
        <p>Solid fog imposes a -2 penalty on melee attacks and damage rolls and makes ranged weapon attacks impossible,
            except for magic rays and the like. A creature or object that falls into solid fog is slowed, so that each
            10 feet of vapor that it passes through reduces falling damage by 1d6.</p>
    </div>
    <div id="desc-spiderweb_clouds">
        <p><b>Spiderweb Clouds:</b> Tangled strands of cloud fill the sky like spiderwebs. Airborne creatures which fly
            into a spiderweb cloud become entangled (DC 15 Reflex save negates). An entangled creature moves at half
            speed, cannot run or charge, and takes a -2 penalty on all attack rolls and a -4 penalty to Dexterity.</p>
    </div>
    <div id="desc-starfall_hail">
        <p><b>Starfall Hail:</b> Stars fall from the sky, plummeting to the ground as frozen pellets of soft, fading
            light. After a starfall hail, the night sky remains totally dark until the next evening.</p>
        <p>The sound of falling hail imposes a -4 penalty on Listen checks. Sometimes hail can become large enough to
            deal 1 point of lethal damage (per storm) to anything in the open.</p>
        <p>A day of hail leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            hail-covered square. An area covered by starfall hail provides shadowy illumination.</p>
    </div>
    <div id="desc-temporal_wind">
        <p><b>Temporal Wind:</b> Temporal winds are rarely severe in any physical dimension, but can easily blow
            creatures through the dimension of time. Creatures must succeed on a DC 15 Will save or be blown 1d6 hours
            forward. The creature seems to disappear in a shimmer of silver light, then reappears later in exactly the
            same space (or closest unoccupied space), orientation, and condition as before. From the affected creature's
            point of view, no time has passed at all.</p>
        <p>Temporal wind has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
    </div>
    <div id="desc-thunder_hail">
        <p><b>Thunder Hail:</b> Thunder hail strikes the ground with deafening blasts of noise and ice shrapnel. It
            deals 1d6 points of damage (DC 15 Fort save negates) each minute to anyone caught out in the open without
            shelter. The sound of thunder hail makes Listen checks impossible.</p>
        <p>A day of hail leaves 1d6 inches of loose ice on the ground. It costs 2 squares of movement to enter a
            hail-covered square.</p>
    </div>
    <div id="desc-volant_mistral">
        <p><b>Volant Mistral:</b> While a volant mistral blows, an individual of at least fifth level (5 HD) can fly at
            a speed of 40 feet (or 30 feet if it wears medium or heavy armor, or if it carries a medium or heavy load).
            It can ascend at half speed and descend at double speed, and its maneuverability is good. Flying requires
            only as much concentration as walking, so the individual can attack or cast spells normally.</p>
        <p>A volant mistral has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
    </div>
    <div id="desc-whispering_wind">
        <p><b>Whispering Wind:</b> While a whispering wind blows, an individual of at least third level (3 HD) can send
            a message or sound on the wind to a designated location. The location must be familiar and within one mile.
            The message is delivered regardless of whether anyone is present to hear it.</p>
        <p>Whispering wind has a 50% chance of extinguishing candles, torches, and similar unprotected flames.</p>
    </div>
</div>